<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.adrianbartnik.google-maps-navigation</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>906DA998-56AE-46F7-BFBA-FEBFAA0775DA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1260EC2C-1692-4B2B-AD37-B4117B323AB7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC8957A9-1AD4-4EEF-A1E9-85EFB28E383B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>906DA998-56AE-46F7-BFBA-FEBFAA0775DA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>F877D954-5B34-4458-97A9-38E74477FE14</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>21C29E5A-D56C-4661-BEE9-7BBEE253348B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F4B4B1D5-1910-4CC7-B3A3-225E4F5AAB1D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC8957A9-1AD4-4EEF-A1E9-85EFB28E383B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Adrian Bartnik</string>
	<key>description</key>
	<string>Quickly navigate via Google Maps</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Google Maps Navigation</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Mappy - Notification</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1260EC2C-1692-4B2B-AD37-B4117B323AB7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>ERROR: </string>
				<key>replacestring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.replace</string>
			<key>uid</key>
			<string>906DA998-56AE-46F7-BFBA-FEBFAA0775DA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>mappy</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Waiting to retrieve Mappy Options</string>
				<key>script</key>
				<string>python3 google-maps.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search an address directly or use your pre-defined home or work location.</string>
				<key>title</key>
				<string>Quickly Navigate with Google Maps</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F4B4B1D5-1910-4CC7-B3A3-225E4F5AAB1D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^ERROR.*$</string>
						<key>outputlabel</key>
						<string>error</string>
						<key>uid</key>
						<string>F877D954-5B34-4458-97A9-38E74477FE14</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>CC8957A9-1AD4-4EEF-A1E9-85EFB28E383B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>21C29E5A-D56C-4661-BEE9-7BBEE253348B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Mappy - Google Maps Navigation for Alfred

This Alfred Workflow makes it easy to quickly access the Google Maps Navigation.
It either works with a simple address search or by combining `from` &amp; `to` based on your pre-defined home or work address.

See the full documentation on Github: https://github.com/adrianbartnik/AlfredGoogleMapsNavigationWorkflow

## Usage

You can use the `mappy` keyword to invoke this workflow from Alfred.
It provides two main features: quick access based on your current location or based on pre-configured home/work addresses.
In addition, a default transportation mode can be set or set per search.

### Default Address Search based on your current location

&gt; `mappy &lt;your address query&gt;`

This opens the default Google Navigation with the address query as destination and your location as origin.

### Navigation to / from your home / work address

&gt; `mappy [to|from] [home|work] &lt;your address query&gt;`

This opens the default Google Navigation with the home/work address and the address query as origin/destination respectively.
The home and work address need to be configured, see below.

### Transportation mode

You can configure a default transportation mode (car, walking, bike, public transport) for each search.
In addition, you can also configure the transportation per search by appending it to the commands above, e.g.:

* `mappy &lt;your address query&gt; car`
* `mappy to home &lt;your address query&gt; walking`

A description of the different transportation modes can be found in the [Google Documentation](https://developers.google.com/maps/documentation/urls/get-started).
The latest list of valid transportation modes can be looked up in [lines 24 of the `google-maps.py` file](google-maps.py).

| Transportation Mode | Description                            | Alternative Keys                  |
| ------------------- | -------------------------------------- | --------------------------------- |
| driving             | Car transportation                     | `["car", "drive", "driving"]`     |
| bicycling           | Bike travel                            | `["bike", "cycle", "bicycling"]`  |
| transit             | Public Transport                       | `["public", "transit", "train"]`  |
| walking             | Walking                                | `["walk", "walking"]`             |
| default             | Automatically choosing the best option | `["default", "best", "adaptive"]` |


## License

* [Icon - Freepik from Flaticon](https://www.flaticon.com/de/kostenloses-icon/google-maps_2667975)</string>
	<key>uidata</key>
	<dict>
		<key>1260EC2C-1692-4B2B-AD37-B4117B323AB7</key>
		<dict>
			<key>xpos</key>
			<real>575</real>
			<key>ypos</key>
			<real>95</real>
		</dict>
		<key>21C29E5A-D56C-4661-BEE9-7BBEE253348B</key>
		<dict>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>906DA998-56AE-46F7-BFBA-FEBFAA0775DA</key>
		<dict>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>125</real>
		</dict>
		<key>CC8957A9-1AD4-4EEF-A1E9-85EFB28E383B</key>
		<dict>
			<key>xpos</key>
			<real>310</real>
			<key>ypos</key>
			<real>175</real>
		</dict>
		<key>F4B4B1D5-1910-4CC7-B3A3-225E4F5AAB1D</key>
		<dict>
			<key>xpos</key>
			<real>90</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Set this to your localised home address. This will be used when referencing "home".</string>
			<key>label</key>
			<string>Home Address</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>home_address</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Set this to your localised work address. This will be used when referencing "work".</string>
			<key>label</key>
			<string>Work Address</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>work_address</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>transit</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Driving</string>
						<string>driving</string>
					</array>
					<array>
						<string>Walking</string>
						<string>walking</string>
					</array>
					<array>
						<string>Bicycling</string>
						<string>bicycling</string>
					</array>
					<array>
						<string>Public Transportation</string>
						<string>transit</string>
					</array>
					<array>
						<string>Best according to Google Maps</string>
						<string>best</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>The default mode of transporation, e.g. driving or public transport. See the offical Google Documentation here: https://developers.google.com/maps/documentation/urls/get-started#parameters</string>
			<key>label</key>
			<string>Travel Mode</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>travel_mode</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>.com</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Determines the default google domain to use for showing the directions.</string>
			<key>label</key>
			<string>Localisation</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>localisation</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/adrianbartnik/AlfredGoogleMapsNavigationWorkflow</string>
</dict>
</plist>
